<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-Learning WebApp! - Details - {{ topic.id }}</title>
</head>
<body>
    <h4>Topic details</h4>
    <p>Name of the topic: {{ topic.name.upper }}  </p>
    <p>Length of the topic: {{ topic.length }} </p>
    <h4>Courses with {{ topic.name }} topic</h4>
    <ul>
        {% for course in course_list %}
            <li>{{ course.title }}</li>
        {% endfor %}
    </ul>
    <p>
        <a href="/myapp/">Home Page</a> |
        <a href="/myapp/about">About Page</a>
    </p>
</body>
</html>